<h2>ログイン</h2>
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
<div class="form-group">
  <%= f.label :email %>
  <%= f.email_field :email, class: "form-control"%>
  <%= f.label :password %>
  <%= f.password_field :password, class: "form-control" %>
</div>
<div class="login_submit">
  <%= f.submit "ログイン",class: "btn btn-default"  %>
</div>
<% end %>
<div>
<%= link_to "ユーザー登録", new_user_path %>