<div class="container">
  <h2>ユーザー情報編集</h2>
  <%= form_with(model: @user, local: true) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
      <div class="form_group">
        <%= f.label :name %>
        <%= f.text_field :name ,class: "form-control" %>
        <%= f.label :email %>
        <%= f.email_field :email ,class: "form-control" %>
        <%= f.label :password %>
        <%= f.password_field :password ,class: "form-control" %>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation ,class: "form-control" %>
      </div>
    <div class="submit_record">
      <%= f.submit "内容変更", class:"btn btn-primary" %>
    </div>
  <% end %>
  <%= link_to '戻る', @user ,class: "btn btn-default"  %>
</div>