<div class="main user-show">
  <div class="container">
    <div class="user">
      <h3><%= @user.name %>のページ</h3>
      <p>メールアドレス: <%= @user.email %></p>
      <p>管理者権限：<%= @user.admin == true ? 'あり' : 'なし' %></p>
    </div>

    <div class="choice">
      <% if @user.id==@current_user.id %>
        <%= link_to "編集", edit_user_path(@user), class: 'btn btn-success' %>
        <%= link_to '削除', user_path(@user), method: :delete, class: 'btn btn-danger', data: { confirm: '本当に削除しますか?' } %>
      <% end %>
    </div>
  </div>
</div>

<%= link_to "ログアウト", session_path(current_user.id), method: :delete %>||
<%= link_to "タスク一覧", tasks_path %>